<mat-action-list>
    <div mat-subheader>Menu</div>
    <button style="padding-bottom: 20px; padding-top: 60px;" routerLink="/users" mat-list-item>
        <mat-icon style="margin-right: 20px;" color="secondary" mat-list-icon>account_circle</mat-icon>Users
    </button>
    <button style="padding-bottom: 20px; padding-top: 60px;" routerLink="/packages" mat-list-item>
        <mat-icon style="margin-right: 20px;" color="secondary" mat-list-icon>inventory</mat-icon>Packages
    </button>
    <button style="padding-bottom: 20px; padding-top: 60px;" routerLink="/delivery" mat-list-item>
        <mat-icon style="margin-right: 20px;" color="secondary" mat-list-icon>local_shipping</mat-icon>Delivery
    </button>
</mat-action-list>