<mat-action-list>
    <div mat-subheader>Menu</div>
    <div class="parent">
        <button class="button" routerLink="/users" mat-list-item>
            <mat-icon class="icon" mat-list-icon>account_circle</mat-icon><span>Users</span>
        </button>
        <button class="button" routerLink="/packages" mat-list-item>
            <mat-icon class="icon" mat-list-icon>inventory</mat-icon><span>Packages</span>
        </button>
        <button class="button" routerLink="/delivery" mat-list-item>
            <mat-icon class="icon" mat-list-icon>local_shipping</mat-icon><span>Delivery</span>
        </button>

    </div>
</mat-action-list>