<div class="container" style="padding-left: 10%; padding-right: 10%;">
    <div class="row" style="margin-top: 90px;">

        <form class="formulaire">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input class="full-width beauty" type="string" placeholder="Enter ID" formControlName="id">
            </mat-form-field>
            <div class="container">
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </form>


        <div class="parent">
            <!-- 1 -->
            <div class="children1">
                <div class="package">
                    <mat-label>
                        <h1><strong>Package Details</strong></h1>
                    </mat-label>
                    <mat-label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem suscipit dignissimos
                        tempora beatae maiores sit asperiores, distinctio odit nihil qui iste quidem id rerum quisquam
                        sint cupiditate fugiat blanditiis! Quod?</mat-label>
                </div>
                <div class="delivery">
                    <mat-label>
                        <h1><strong>Delivery Details</strong></h1>
                    </mat-label>
                    <mat-label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aliquam at numquam
                        repellendus neque iste adipisci. Sit eligendi porro et molestias, quia labore exercitationem
                        perspiciatis reiciendis accusamus pariatur qui. Similique?</mat-label>
                </div>
            </div>
            <!-- 2 -->
            <div class="children2">MAP</div >
            <!-- 3 -->
            <div class="children3">
                <div class="children4">
                    <button class="but" mat-raised-button color="primary">Submit</button>
                </div>
                <div class="children4">
                    <button class="but" mat-raised-button color="primary">In-Transit</button>
                </div>
                <div class="children4">
                    <button class="but" mat-raised-button color="primary">Delivered</button>
                </div>
                <div class="children4">
                    <button class="but" mat-raised-button color="primary">Failed</button>
                </div>
            </div>

        </div>
    </div>
</div>