<div class="container">
    <div class="row" style="margin-top: 90px;">

        <form class="formulaire" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>ID</mat-label>
                <input class="full-width beauty" type="string" placeholder="Enter Delivery ID" formControlName="id">
            </mat-form-field>
            <div class="container">
                <button mat-raised-button
                    style="background: green; text-decoration: none; color: white; padding: 5px; width: 20%">Submit</button>
            </div>
        </form>


        <div class="parent">
            <!-- 1 -->
            <div class="children1" style="display: flex;flex-direction: column;justify-content: center;">
                <div class="package">
                    <mat-label>
                        <h1><strong>Package Details</strong></h1>
                    </mat-label>
                    <div style="font-size: 18px;">
                        <div style="padding-bottom: 15px">
                            <mat-label>Description: {{ deliveryDetails?.package?.description }}</mat-label>
                        </div>
                        <div style="padding-bottom: 15px">
                            <mat-label>Weight: {{ deliveryDetails?.package?.weight }}</mat-label>
                        </div>
                        <div>
                            <mat-label>Width: {{ deliveryDetails?.package?.width }}</mat-label>
                        </div>
                    </div>

                </div>
                <div class="delivery">
                    <mat-label>
                        <h1><strong>Delivery Details</strong></h1>
                    </mat-label>
                    <div style="font-size: 18px;">
                        <div style="padding-bottom: 15px">
                            <mat-label>Status: {{ deliveryDetails && deliveryDetails ? (deliveryDetails.status) : 'N/A'
                                }}</mat-label>
                        </div>
                        <div style="padding-bottom: 15px">
                            <mat-label>Start Time: {{ deliveryDetails && deliveryDetails ? (deliveryDetails.end_time |
                                date: 'dd-MM-yyyy HH:mm') : 'N/A' }}</mat-label>
                        </div>
                        <div>
                            <mat-label>End Time: {{ deliveryDetails && deliveryDetails ? (deliveryDetails.start_time |
                                date: 'dd-MM-yyyy HH:mm') : 'N/A' }}</mat-label>
                        </div>

                    </div>

                </div>
            </div>
            <!-- 2 -->
            <div class="children2">
                Votre Colis se trouve ici : <a style="font-weight: bold;"
                    [routerLink]="['/maps', deliveryDetails._id]">Voir sur la carte</a>
            </div>
            <!-- 3 -->
            <div class="children3">
                <div class="children4">
                    <button class="but" mat-raised-button
                        style="background: rgb(0, 128, 122); text-decoration: none; color: white; padding: 5px;"
                        (click)="updateStatus('picked-up')">Picked-Up</button>
                </div>
                <div class="children4">
                    <button class="but" mat-raised-button
                        style="background: rgb(172, 122, 15); text-decoration: none; color: white; padding: 5px;"
                        (click)="updateStatus('in-transit')">In-Transit</button>
                </div>
                <div class="children4">
                    <button class="but" mat-raised-button
                        style="background: green; text-decoration: none; color: white; padding: 5px;"
                        (click)="updateStatus('delivered')">Delivered</button>
                </div>
                <div class="children4">
                    <button class="but" mat-raised-button
                        style="background: rgb(179, 60, 51); text-decoration: none; color: white; padding: 5px;"
                        (click)="updateStatus('failed')">Failed</button>
                </div>
            </div>

        </div>
        <div style="display: flex; justify-content: center; margin-top: 50px;">
            <a mat-raised-buton color="primary" href="/list"
                style="background: rgb(23, 145, 56); text-decoration: none; color: white; padding: 5px 15px;">Go Back</a>
        </div>
    </div>
</div>