<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 90px;">
            <div class="">
                <div class="container text-center">
                    <img src="../../assets/gozem.png" alt="GOZEM SUPER APP">
                </div>

                <h1 class="text-center">Login here !!!</h1>

                <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="formulaire">

                    <!-- Username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input class="full-width beauty" type="email" placeholder="Email" formControlName="email">
                        <mat-hint>Valid Email please</mat-hint>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input class="full-width beauty" type="password" placeholder="Password" formControlName="password">
                    </mat-form-field>

                    <div class="container text-center" style="display: flex; justify-content: space-between;">
                        <button mat-raised-buton style="background: green; color: white;  padding: 20px;">Login</button>
                        <!-- <button mat-raised-button color="primary">Register</button> -->
                        <a mat-raised-buton color="primary" [routerLink]="['/register']" style="background: green; text-decoration: none; color: white; padding: 12px;">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>