<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../assets/gozem.png" alt="GOZEM SUPER APP">

                </div>
                <h1 class="text-center">Register Here !!!</h1>

                <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="formulaire" >
                    <!-- Username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input class="full-width beauty" type="string" placeholder="Username" formControlName="name">
                        <mat-hint>Username must be unique</mat-hint>
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input class="full-width beauty" type="email" placeholder="Email" formControlName="email">
                    </mat-form-field>

                    <!-- Phone field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input class="full-width beauty" type="number" placeholder="Phone Number" formControlName="phone">
                    </mat-form-field>


                    <mat-radio-group class="radio" aria-label="Select an option" formControlName="role">
                        <mat-label><b>Role</b></mat-label>
                        <mat-radio-button value="user">User</mat-radio-button>
                        <mat-radio-button value="livreur">Livreur</mat-radio-button>
                    </mat-radio-group>


                    <!-- Password field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input class="full-width beauty" type="password" placeholder="Password" formControlName="password">
                    </mat-form-field>

                    <div class="container text-center" style="display: flex; justify-content: space-between;">
                        <button  mat-raised-button style="background-color: rgb(23, 145, 56); color: white">Register</button>
                        <!-- <button  mat-raised-button color="primary"><a [routerLink]="['/login']">Login</a></button> -->
                        <a mat-raised-buton color="primary" [routerLink]="['/login']" style="background: rgb(23, 145, 56); text-decoration: none; color: white; padding: 5px 15px;">Login</a>
                        
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>